@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.page-num-count-text{
    $hotPink: #F32178;
    text-align: center;
    color: $hotPink;
    font-family: 'Josefin Sans', sans-serif;
}