.copyright-area-div{
    margin-top: 15em;
    width: 50%;
    position: relative;
    left: 80%;
}

.container-button{
    margin-top: 3em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
